.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--secondary-background-color);
    margin: .5rem;
    padding: 1rem;
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.certification-card {
    display: flex;
    align-items: center;
    border: 1px solid var(--accent-color);
    border-radius: 1rem;
    box-shadow: var(--accent-color) 0px 0px 5px 0px;
    background-color: var(--secondary-background-color);
    margin: 1rem;
    padding: .5rem;
}

.certification-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.certification-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 1rem;
}

.certification-info * {
    text-align: left;
    margin: 1rem;
    padding: 0;
}

.card-button-outline {
    background-color: var(--secondary-color);
    color: var(--secondary-background-color);
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.card-button-outline:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.card-button-solid {
    background-color: var(--secondary-color);
    color: var(--secondary-background-color);
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.card-button-solid:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.card-title {
    color: var(--accent-color);
}