@import '../styles/variables.scss';

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: $secondary-background-color;
    box-shadow: $accent-color 0px 0px 5px 0px;
    margin: .5rem;
    padding: 1rem;
}

.project-card img {
    box-shadow: $accent-color 0px 0px 5px 1px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.completion-date {
    color: $text-color;
}

.certification-card {
    display: flex;
    align-items: center;
    border: 1px solid $accent-color;
    border-radius: 1rem;
    box-shadow: $accent-color 0px 0px 5px 0px;
    background-color: $secondary-background-color;
    margin: 1rem;
    padding: .5rem;
}

.certification-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.certification-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 1rem;
}

.certification-info * {
    text-align: left;
    margin: 1rem;
    padding: 0;
}

.card-button-outline {
    border: 1px solid $secondary-color;
    color: $secondary-color;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    margin: 1rem;
}

.card-button-outline:hover {
    background-color: $secondary-color;
    color: $secondary-background-color;
}

.card-button-solid {
    background-color: $secondary-color;
    color: $secondary-background-color;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.card-button-solid:hover {
    background-color: $secondary-background-color;
    color: $secondary-color;
}

.card-title {
    color: $secondary-color;
}