.contact-container {
  display: grid;
  grid-template-columns: .5fr 1fr;
  padding: 0;
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1rem;
  background-color: var(--background-color);
}

.contact-info p {
    font-size: 2rem;
    margin: 0;
    padding: .5rem;
    color: var(--primary-color);
}

.contact-info a {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0;
    text-decoration: none;
    color: var(--secondary-color);
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.resume-container p {
    font-size: 1.5rem;
    margin: 0;
    padding: .5rem;
    color: var(--primary-color);
}

.resume-container a {
    margin: 1rem;
    padding: 0;
    text-decoration: none;
    color: var(--secondary-color);
}

.resume-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.resume-contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
}