@import '../styles/variables.scss';

@media (min-width: 0px) and (max-width: 768px) {
    .app-container .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        color: $primary-color;
        background-color: #FFF;
    }
    
    .app-container .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }
    
    .app-container .contact-info p {
        font-size: 2rem;
        margin: 0;
        padding: .5rem;
        color: $primary-color;
    }
    
    .app-container .contact-info a {
        font-size: 1.5rem;
        margin: 1rem;
        padding: 0;
        text-decoration: none;
        color: $secondary-color;
    }
    
    .app-container .resume-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }
    
    .app-container .resume-container p {
        font-size: 1.5rem;
        margin: 0;
        padding: .5rem;
        color: $primary-color;
    }
    
    .app-container .resume-container a {
        margin: 1rem;
        padding: 0;
        text-decoration: none;
        color: $secondary-color;
    }
    
    .app-container .resume-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .app-container .resume-contact-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contact-container {
  display: grid;
  grid-template-columns: .5fr 1fr;
  padding: 0;
  color: $primary-color;
  background-color: #FFF;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1rem;
}

.contact-info p {
    font-size: 2rem;
    margin: 0;
    padding: .5rem;
    color: $primary-color;
}

.contact-info a {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0;
    text-decoration: none;
    color: $secondary-color;
}

.resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.resume-container p {
    font-size: 1.5rem;
    margin: 0;
    padding: .5rem;
    color: $primary-color;
}

.resume-container a {
    margin: 1rem;
    padding: 0;
    text-decoration: none;
    color: $secondary-color;
}

.resume-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.resume-contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: 3px solid $primary-color;
    transform: rotate(45deg);
}

.icon {
    transform: rotate(-45deg);
}

.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}