@import '../styles/variables.scss';

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.about-container h1 {
    font-size: 3.75rem;
    margin-bottom: 0;
}

.about-container p {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.about-container em {
    color: $primary-color;
    font-style: normal;
}

.home-icon {
    font-size: 3rem;
    color: $primary-color;
    margin: .5rem;
}