@import '../styles/variables.scss';

@media (min-width: 0px) and (max-width: 768px) {
  .personal-projects-container,
  .course-projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #FFF;
  }
}

.personal-projects-container,
.course-projects-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.projects-header {
  color: $neon-color;
  font-weight: bold;
  text-shadow: 0 0 1rem $neon-color;
}

.other-projects,
.course-projects {
  padding: 0 1rem;
  border-radius: 1rem;
  color: $secondary-color;
  background-color: $background-color;
}