@media (max-width: 480px) {
  .main-container {
    margin: 0 2% !important;
  }
}

@media (max-width: 768px) {
  .main-container {
    margin: 0 3% !important;
  }
}

@media (max-width: 1280px) {
  .main-container {
    margin: 0 4% !important;
  }
}

@media (max-width: 1920px) {
  .main-container {
    margin: 0 10% !important;
  }
}

#root {
  margin: 0;
  padding: 0rem;
  text-align: center;
}

.app-container {
  display: grid;
  grid-template-rows: .5fr 5fr;
}

.certifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.my-name {
  color: var(--accent-color);
}

.main-container {
  margin: 0 10%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
